{% extends "base.html" %}

{% block title %}Đăng truyện mới{% endblock %}

{% block content %}
<h2>Đăng Truyện Mới</h2>

<form method="POST" action="{{ url_for('main.create_story') }}">
    <label for="title">Tên truyện:</label>
    <input type="text" name="title" id="title" required>

    <label for="content">Nội Dung:</label>
    <textarea name="content" id="content" required></textarea>

    <button type="submit">Đăng</button>
</form>

<a href="{{ url_for('home') }}">Trở lại trang chủ</a>
{% endblock %}
